.about {
    padding-top: 0;
}

.about__list {
    display: flex;
    justify-content: space-between;
}

.about__title.title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}

.about__img {
    position: relative;

}

.about__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

}