.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: scale(1);
    transition: transform 250ms linear, opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 521px;
    top: 50%;
    left: 50%;
    padding-top: 40px;
    padding-bottom: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: #fff;
    transform: scale(1) translate(-50%, -50%);
}

.modal__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    fill: #2196F3;
}
}



.backdrop.is-hidden .modal {
    transform: scale(1.1) translate(-50%, -50%);

}