 header {
     border-bottom: 1px solid #ECECEC;
 }

 .container__header {
    display: flex;
    align-items: center;

@media screen and(max-width: 1199px) {
     justify-content: space-between;
   }
 }
 .header__menu-ikons{
    display: flex;

 }
 .header__menu{
   @media screen and(min-width: 768px){
      display: none;
   }
    background-color: transparent;

    &:hover, &:focus{
        fill: var(--web-part-inLogo-color);
    }
 }
 