
.team {
    padding-top: 94px;
    background-color: #F5F4FA;
}
.team__title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(36/24);
    text-align: center;
    letter-spacing: 0.03em;
}
.team__list {
    display: flex;
}

.team__item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 30px;
}

.team__item:nth-child(1) {
    margin-left: 0;
}

.team__text-container {
    text-align: center;
    padding: 30px;
}

.team__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}

.team__text {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sub-prime-color-text);
}

.ikon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ikons {
    display: inline-flex;
    gap: 10px;
    margin-top: 16px;
}

.ikons__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    &:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
}
    &:hover .ikons__team--gray {
    fill: white;
}
}